{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Доска объявлений
{% endblock title %}

{% block content %}
   <h1>Все объявления</h1>
   <h3>{% current_time '%d %b %Y' %}</h3>

   <hr>
   {% if not authoradvertisement %}
       <h2>Объявлений нет!</h2>

   {% else %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Превью</td>
        <td>Категория</td>
        <td>Автор</td>
        <td>Ссылка</td>
    </tr>

    {% for advertisement in authoradvertisement %}
    <tr>
        <td>{{ advertisement.heading }}</td>
        <td>{{ advertisement.time_in|date:'d M Y' }}</td>
        <td>{{ advertisement.text_ad|truncatechars:20 }}</td>
        <td>{{ advertisement.category }}</td>
        <td><a href="/advertisements/authors/{{ advertisement.author.id }}">{{ advertisement.author.username }}</a></td>
        <td><a href="/advertisements/{{ advertisement.pk }}">Посмотри меня)</a></td>
    </tr>
    {% endfor %}

</table>
{% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}